extends layout

block main
  h1 Log in
  
  form.form(action="/auth/local/login", method="post") 
    label(for="username") Username: 
    input#username(type="text", name="username", required) 
    label(for="password") Password: 
    input#password(type="password", name="password", required)
    .show-password 
      input#show-password-checkbox(type="checkbox", name="")
      label(for="show-password-checkbox") Show password 
    input.btn.login(type="submit", value="Log in")

  a.btn.signup(href="/auth/signup") Don't have an account? Sign up 